<div class="flex flex-col gap-4">
  <custom-button
    text="Welcome to the WU-SHU TRAINING APP!"
    size="small"
    (click)="onClick()"
  ></custom-button>
  <custom-button
    text="Welcome to the WU-SHU TRAINING APP!"
    size="medium"
    (click)="onClick()"
  ></custom-button>
  <custom-button
    text="Welcome to the WU-SHU TRAINING APP!"
    size="large"
    (click)="onClick()"
  ></custom-button>
  <custom-button
    text="Welcome to the WU-SHU TRAINING APP!"
    size="huge"
    (click)="onClick()"
  ></custom-button>
</div>
